<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment">
      <p><%= link_to "#{comment.user.name}さん", user_path(comment.user.id), class: "comment-name" %></p>
      <p class="comment-content">コメント：<%= comment.content %></p>
      <% if comment.user == current_user %>
        <p><%= link_to '削除', micropost_comment_path(comment.micropost_id, comment.id), method: :delete, class: "btn-black btn-delete", remote: true %></p>
      <% end %>
    </div>
  <% end %>
<% end %>