<main>
  <div class="flexbox">
    <div class="title">
      <h1>MONO
      <br>PHOTONE</h1>
    </div>
    <div class="sub">
      <div class="sub-content">
        <p>MONOPHOTONEでは
        <br>選んだ写真が白黒で投稿されます。
        <br>お気に入りの写真を他のユーザーと共有しよう。</p>
        <div class="btn-wrapper flexbox">
          <%= link_to "新規登録", "#", class: "btn-black" %>
          <%= link_to "ログイン", "#", class: "btn-black" %>
        </div>
      </div>
    </div>
  </div>
</main>