@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/* ======================================================
  リセットCSS
======================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================
  共通
======================================================*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Serif JP', sans-serif;
}

body {
  background: black;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-black, .btn-white {
  display: block;
  text-align: center;
  &:hover {
    transition: .4s;
    text-decoration: none;
  }
}

.btn-black {
  color: white;
  background: black;
  border: 1px solid black;
  &:hover {
    background: white;
    color: black;
  }
}

.btn-white {
  color: black;
  background: white;
  border: 1px solid black;
  &:hover {
    background: black;
    color: white;
  }
}

/* ======================================================
 flash メッセージ
======================================================*/
.alert-danger {
  background-color: white;
  border-color: red;
  color: red;
  width: 90%;
  margin: auto;
}

.alert-info {
  width: 90%;
  margin: auto;
}

#error_explanation {
  .alert-danger {
    width: 100%;
    margin-bottom: 20px;
  }
  ul {
    color: black;
    margin-bottom: 30px;
    list-style: circle;
    margin-left: 30px;
    li {
      margin-bottom: 6px;
    }
  }
}

/* ======================================================
  フォーム
======================================================*/
.form-wrapper {
  background: black;
  padding: 60px 0 0;
  height: 800px;
}

.form {
  background: white;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  h2 + p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  input, textarea {
    color: black;
    width: 100%;
    margin-bottom: 20px;
  }
  textarea {
    height: 180px;
  }
  .btn-black {
    margin-bottom: 0;
    padding: 8px 0;
    display: block;
    color: white;
    border-radius: 5px;
    &:hover {
      color: black;
    }
  } 
}

.login {
  a {
    margin-bottom: 20px;
  }
}

.btn-white-wrapper {
  justify-content: space-around;
  margin-top: 16px;
  .btn-white {
    padding: 8px 0;
    width: 40%;
    border-radius: 5px;
  }
}

.checkbox {
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
/* ======================================================
  toppages/home
======================================================*/
main {
  .title {
    width: 100%;
    height: 300px;
    background: black;
    display: flex;
    h1 {
      font-size: 44px;
      font-weight: bold;
      color: white;
      letter-spacing: .1em;
      line-height: 1.2;
      margin: auto;
    }
  }
  .sub {
    width: 100%;
    background: white;
    padding: 60px;
    p {
      font-size: 20px;
      margin-bottom: 60px;
    }
    a {
      padding: 12px 0;
      width: 100%;
      margin: 0 auto 40px;
    }
  }
}


@media all and (min-width: 480px) {
/* ======================================================
  flashメッセージ
======================================================*/
  .alert-danger {
    width: 60%;
  }
  .alert-info {
    width: 60%;
  }
  
/* ======================================================
  フォーム
======================================================*/
  .form {
    width: 360px;
  }
/* ======================================================
  toppages/home
======================================================*/
  main {
    .title {
      height: 500px;
      h1 {
        font-size: 80px;
      }
    }
    .sub {
      padding: 80px;
      p {
        font-size: 24px;
      }
    }
  }
}

@media all and (min-width: 1024px) {
/* ======================================================
  フォーム
======================================================*/
  .form {
    padding-top: 100px; 
  }
  
/* ======================================================
  toppages/home
======================================================*/
  main {
   .title {
      width: 50%;
      height: 700px;
      h1 {
        font-size: 80px;
      }
    }
    .sub {
      width: 50%;
      height: 700px;
      display: flex;
      .sub-content {
        margin: auto;
        p {
          font-size: 24px;
          margin-bottom: 60px;
        }
        .btn-wrapper {
          width: 200px;
          margin: 0 auto;
          a {
            padding: 16px 0;
            width: 200px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}