@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/* ======================================================
  リセットCSS
======================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======================================================
  共通
======================================================*/
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Serif JP', sans-serif;
}

body {
  background: black;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-black, .btn-white {
  display: block;
  text-align: center;
  &:hover {
    transition: .4s;
    text-decoration: none;
  }
}

.btn-black {
  color: white;
  background: black;
  border: 1px solid black;
  &:hover {
    background: white;
    color: black;
  }
}

.btn-white {
  color: black;
  background: white;
  border: 1px solid black;
  &:hover {
    background: black;
    color: white;
  }
}

/* ======================================================
 flash メッセージ
======================================================*/
.alert-danger {
  background-color: white;
  border-color: red;
  color: red;
  width: 90%;
  margin: auto;
}

.alert-info {
  width: 90%;
  margin: auto;
}

#error_explanation {
  .alert-danger {
    width: 100%;
    margin-bottom: 20px;
  }
  ul {
    color: black;
    margin-bottom: 30px;
    list-style: circle;
    margin-left: 30px;
    li {
      margin-bottom: 6px;
    }
  }
}

/* ======================================================
  フォーム
======================================================*/
.form-wrapper {
  background: black;
  padding: 60px 0 0;
  height: 800px;
}

.form {
  background: white;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  padding: 40px 20px;
  h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  h2 + p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  input, textarea {
    color: black;
    width: 100%;
    margin-bottom: 20px;
  }
  textarea {
    height: 180px;
  }
  .btn-black {
    margin-bottom: 0;
    padding: 8px 0;
    display: block;
    color: white;
    border-radius: 5px;
    &:hover {
      color: black;
    }
  } 
}

.login {
  a {
    margin-bottom: 20px;
  }
}

.password-reset h2 + p {
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  margin: 30px 0;
}

.btn-white-wrapper {
  justify-content: space-around;
  margin-top: 16px;
  .btn-white {
    padding: 8px 0;
    width: 40%;
    border-radius: 5px;
  }
}

.checkbox {
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ======================================================
  users
======================================================*/
.users {
  width: 100%;
  padding: 10px;
  .paginate {
    width: 100%;
    margin: 20px 0;
    ul {
      margin: 0 auto;
      width: 100%;
      display: block;
      .prev, .next {
        a {
          display: block;
          font-size: 12px;
          color: white;
          width: 60px;
        }
      }
      li a {
        width: 30px;
        margin-left: 4px;
        display: block;
        background: black;
        color: white;
        text-align: center;
      }
      .active a {
        background: white;
        border: 1px solid black;
        color: black;
      }
    }
  }
  .user {
    margin-bottom: 16px;
    .flexbox {
      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: auto 0;
      }
      div {
        width: 75%;
        margin-right: auto;
        margin-left: 10px;
        margin-top: 10px;
        a {
          color: black;
          display: block;
        }
      }
    }
  }
}

.follow-users, .favorite-microposts {
  h1 {
    font-size: 30px;
    width: 90%;
    margin: 0 auto 20px;
  }
  p {
    width: 90%;
    margin: 0 auto 20px;
  }
}
/* ======================================================
  toppages/home
======================================================*/
main {
  .title {
    width: 100%;
    height: 300px;
    background: black;
    display: flex;
    h1 {
      font-size: 44px;
      font-weight: bold;
      color: white;
      letter-spacing: .1em;
      line-height: 1.2;
      margin: auto;
    }
  }
  .sub {
    width: 100%;
    background: white;
    padding: 60px;
    p {
      font-size: 20px;
      margin-bottom: 60px;
    }
    a {
      padding: 12px 0;
      width: 100%;
      margin: 0 auto 40px;
    }
  }
}

/* ======================================================
  heading-wrapper
======================================================*/
.header-wrapper {
  width: 100%;
  .navbar {
    background: black;
    padding: 10px;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    .navbar-toggler {
      font-size: 30px;
    }
    div {
      ul {
        background: black;
        padding: 10px;
        margin: 0 auto;
        li {
          width: 90%;
          margin: 0 auto 10px;
          margin-bottom: 10px;
          a {
            font-size: 18px;
            padding: 10px 0;
            text-decoration: none;
          }
          .btn-black {
            border: 1px solid white;
          }
          .btn-white {
            border: 1px solid white;
          }
        }
      }
    }
  }
  .user-information {
    width: 100%;
    margin-top: 40px;
    height: 80px;
    background: white;
    display: flex;
    h1 {
      font-size: 22px;
      font-weight: bold;
      margin: auto;
    }
  }
  .heading {
    width: 100%;
    background: black;
    padding: 10px;
    .user-heading-wrapper {
      width: 100%;
      padding: 0 10px;
      justify-content: flex-start;
      .user-heading-logo {
        width: 25%;
        margin-left: 0;
        a {
          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            filter: grayscale(1);
          }
        }
        .follow-btn {
          background: white;
          padding: 4px 0;
          width: 100%;
          border-radius: 20px;
          display: block;
          margin-top: 10px; 
          &:hover {
            background: black;
            transition: .3s;
          }
        }
        .follow {
          color: #3366FF;
          border: 2px solid #3366FF;
          &:hover {
            border: 2px solid #3366FF;
            color: #3366FF;
          }
        }
        .unfollow {
          color: red;
          border: 2px solid red;
          &:hover {
            border: 2px solid red;
            color: red;
          }
        }
      }
      .user-heading-info {
        width: 75%;
        h1 {
          color: white;
          font-size: 18px;
          margin: 10px 0 10px;
          text-align: center;
        }
        .stats {
          width: 100%;
          justify-content: center;
          a {
            border-radius: 10px;
            text-decoration: none;
            padding: 4px 0;
            font-size: 14px;
            width: 40%;
            margin-right: 20px;
            border: 1px solid white;
          }
          a:last-child {
            margin-right: 0;
          }
        }
        span {
          display: block;
          text-align: center;
          color: white;
          margin-top: 10px;
        }
      } 
    }
  }
}

/* ======================================================
  main-wrapper
======================================================*/
.main-wrapper {
  width: 100%;
  aside {
    padding: 10px;
    background: black;
    display: none;
    nav {
      ul {
        flex-direction: column;
        text-align: center;
        background: black;
        li {
          background: white;
          margin-bottom: 20px;
          a {
            color: black;
            font-size: 14px;
            padding: 10px 0;
            position: relative;
            &:before {
              content: "";
              width: 0;
              height: 100%;
              background: black;
              position: absolute;
              top: 0;
              left: 0;
            }
            &:hover {
              color: white;
              border: 1px solid white;
              z-index: 1;
            }
            &:hover:before {
              width: 100%;
              transition: .6s;
              z-index: -1;
            }
          }
        }
      }
    }
  }
  .main-content {
    background: white;
    width: 100%;
    padding: 10px 0;
  }
}

/* ======================================================
  microposts/micropost
======================================================*/
.microposts {
  li {
    width: 100%;
    height: 60vw;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    background: #000;
    opacity: 1;
    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
      transition: .4s;
      &:hover {
        transform: scale(1.2);
        opacity: .3;
      }
    }
    .image-info {
      display: none;
      color: white;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      img {
        filter: grayscale(1);
        border-radius: 50%;
        display: none;
      }
      .name a {
        color: white;
        display: block;
        width: 100%;
        font-size: 18px;
        margin-bottom: 16px;
      }
      .delete {
        padding: 10px 0;
        display: block;
        width: 100px;
      }
    }
  &:hover .image-info {
      display: block;
      transition: 1s;
    }
  }
}

/* ======================================================
  users/show
======================================================*/
.zero-message {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin: 30px 0;
}

.share-message {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.show {
  .btn-black {
    width: 180px;
    margin: 0 auto;
    padding: 16px 0;
    border-radius: 8px;
  }
}


@media all and (min-width: 480px) {
/* ======================================================
  flashメッセージ
======================================================*/
  .alert-danger {
    width: 60%;
  }
  .alert-info {
    width: 60%;
  }
  
/* ======================================================
  フォーム
======================================================*/
  .form {
    width: 360px;
  }
/* ======================================================
  toppages/home
======================================================*/
  main {
    .title {
      height: 500px;
      h1 {
        font-size: 80px;
      }
    }
    .sub {
      padding: 80px;
      p {
        font-size: 24px;
      }
    }
  }

/* ======================================================
  header-wrapper
======================================================*/
  .header-wrapper {
    width: 100%;
    .navbar {
      display: none;
    }
    .user-information {
      width: 100%;
      margin-top: 0;
      height: 80px;
      display: flex;
      h1 {
        font-size: 24px;
      }
    }
    .heading {
      .user-heading-wrapper {
        width: 480px;
        margin: 0 auto;
        .user-heading-logo {
          width: 120px;
          margin-right: 30px;
          a {
            img {
              width: 120px;
            }
          }
          .follow-btn {
            padding: 10px 0;
            width: 100px;
            border-radius: 20px;
            margin: 10px auto 0; 
          }
        }
        .user-heading-info {
          width: 300px;
          margin: 0;
          h1 {
            font-size: 30px;
            margin: 20px 0 10px;
          }
          .stats {
            width: 100%;
            justify-content: center;
            a {
              border-radius: 20px;
              padding: 10px 0;
              text-align: center;
              width: 120px;
              margin-right: 20px;
            }
            a:last-child {
              margin-right: 0;
            }
          }
          span {
            margin-top: 20px;
          }
        } 
      }
    }
  }

/* ======================================================
  main-wrapper
======================================================*/
  .main-wrapper {
    width: 100%;
    aside {
      width: 20%;
      display: block;
      nav ul li {
        margin-bottom: 16px;
        a {
          font-size: 12px;
          padding: 14px 0;
        }
      }
    }
    .main-content {
      width: 80%;
      padding: 10px;
    }
  }
  
/* ======================================================
  microposts/micropost
======================================================*/
  .microposts {
    li {
      width: 49.5%;
      height: 25vw;
    }
  }
  
/* ======================================================
  users/show
======================================================*/
  .zero-message {
    font-size: 36px;
    margin: 60px auto 30px;
  }
}

@media all and (min-width: 1024px) {
/* ======================================================
  フォーム
======================================================*/
  .form {
    padding-top: 100px; 
  }
  
/* ======================================================
  toppages/home
======================================================*/
  main {
   .title {
      width: 50%;
      height: 700px;
      h1 {
        font-size: 80px;
      }
    }
    .sub {
      width: 50%;
      height: 700px;
      display: flex;
      .sub-content {
        margin: auto;
        p {
          font-size: 24px;
          margin-bottom: 60px;
        }
        .btn-wrapper {
          width: 200px;
          margin: 0 auto;
          a {
            padding: 16px 0;
            width: 200px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

/* ======================================================
  header-wrapper
======================================================*/
  .header-wrapper {
    height: 200px;
    .navbar {
      display: none;
    }
    .user-information {
      margin-top: 0;
      width: 20%;
      height: 200px;
      h1 {
        font-size: 24px;
      }
    }
    .heading {
      width: 80%;
      .user-heading-wrapper {
        width: 500px;
        margin: 0 auto;
        justify-content: flex-start;
        .user-heading-logo {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }
  }
/* ======================================================
  main-wrapper
======================================================*/
  .main-wrapper {
    aside {
      padding: 30px;
      nav ul li {
        margin-bottom: 20px;
        a {
          font-size: 20px;
          padding: 20px 0;
        }
      }
    }
    .main-content {
      padding: 30px 30px 0;
    }
  }
  
/* ======================================================
  microposts/micropost
======================================================*/
  .microposts {
    justify-content: flex-start;
    li {
      width: 33%;
      height: 25vw;
      margin-right: .5%;
      .image-info {
        img {
          display: block;
        }
      }
    }
    li:nth-child(3n) {
      margin-right: 0;
    }
  }
  
/* ======================================================
  users/show
======================================================*/
  .zero-message {
    font-size: 40px;
    margin: 100px auto 40px;
  }
}